{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'users/home.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="all_container">
        

        <div class="welcom_c">
            <h2>Enter QC settings</h2>
            <div style="display: flex; align-items: center;">
                <p>Lot size</p>  
                <input type="number">
            </div>
            <div style="display: flex; align-items: center;">
                <p>Type of control</p>  
                <select name="type" id="type">
                    <option value="simple">Simple control</option> 
                    <option value="double">Double control</option> 
                </select>
            </div>
            <div style="display: flex;  align-items: center;">
                <p>Acceptable quality level</p>  
                <input type="number">
            </div>
            <button>Information</button>
            <button>Start calculation</button>
        </div>





    </div>
    
</body>
</html>