{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'users/home.css' %}">
    {{ results|json_script:"results" }}
    <script id="results" type="application/json"></script>
    <title>Document</title>
</head>
<body>
    <div class="all_container">

    

        <div id="myModal" class="modal">


            <div class="modal-content" id = "modal_content">
                <span class="close">&times;</span>
                
            </div>

        </div>

        <div class="welcom_c">

           <form action="http://localhost:8000" method="POST" onsubmit="return is_form_valid()">
            {% csrf_token %}

                <h2>Enter QC settings</h2>

                <div style="display: flex; align-items: center;">
                    <p>Lot size</p>  
                    <input type="number" name="Lot" id="Lot" onchange="set_mqa()">
                </div>

                <div style="display: flex; align-items: center;">
                    <p>Type of control</p>  
                    <select name="type" id="type">
                        <option value="simple">Simple control</option> 
                        <option value="double">Double control</option> 
                    </select>

                </div>

                <div style="display: flex;  align-items: center;">
                    <p>Acceptable quality level %</p>  
                    <select type="number" name="aqualityl" id="aqualityl"> 
                        <option >10%</option> 
                        <option >5%</option> 
                    </select>
                </div>
            
            <button >Start calculation</button>

           </form>
           <button>Information</button>

        </div>





    </div>
    <script src="{% static 'users/home.js' %}"></script>
</body>
</html>